<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h1>Upload Image Firebase Storage</h1>
      <hr/>
  
      <div class="form-horizontal">
        <div class="form-group">
          <input #file type="file" (change)="uploadFile(file.files)" class="form-control"/>
            <img [src]="imgURL" *ngIf="imgURL != null" height="200px" width="300px;"/>
        </div>
        <div class="form-group">
          <button type="button" (click)="upload()" class="btn btn-info">Upload</button>
        </div>

        <div class="progress" *ngIf="fileUploadOperationState">
            <div class="progress-bar" role="progressbar" [ngStyle]="{'width' : progressRange+'%'}">{{progressRange}}%</div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>